#viz {
  height:60vh;
  overflow:hidden;
  background-color:black;
  background-image: url('https://d1yts6u8a9himl.cloudfront.net/LA-recent.jpg');
  background-size:cover;
  background-position:center center;
}

@media only screen and (min-width: 992px) {
  #viz {
    height:65vh;
  }
}
