footer {
  background-color:#1C1C1C;
  height:20vh;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}


.logo {
  width:189px;
}

@media (orientation: landscape) and (max-width: 736px) {
   .logo {
    width:100px;
   }
}
