#viz-window {
  height:60vh;
}

#art {
  background-color:black;
  background-image: url('../assets/satisfaction.png');
}

/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */
#map {
    width: 100vw;
    height: 60vh;
}

#tokenForm {
    display: none;
}
