.mapboxgl-popup-content{
  background-color: #292929 !important;
  border: 1px solid white;
  border-radius: 0 !important;
  color: white
}

.mapboxgl-popup-content button{
  left: 0 !important;
  right: initial !important;
  color: grey;
  font-size: 30px;
}

.mapboxgl-popup-tip{
  border-top-color: #292929 !important;
}

.ride-info{
  width: 339px;
  height: 343px
}




.map-container, #map {
height: 60vh;
}

@media only screen and (min-width: 992px) {
  #map, .map-container {
    height:65vh;
  }
}
